package ${classPackage};

/**
 * @author ${System.getProperty('user.name')}
 * Created: ${new Date()}
 */

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.cloud.netflix.eureka.server.EnableEurekaServer;

@SpringBootApplication
@EnableEurekaServer
public class ${className} {

    public static void main(String[] args) {
        SpringApplication.run(EurekaApplication.class, args);
    }
}
